/* Slider.css */
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    /* transform: translateY(50px); */
    transform: translateX(100%);
    /* 오른쪽에서 시작 */
    z-index: 1;
}

.slide.active {
    opacity: 1;
    /* transform: translateY(0); */
    transform: translateX(0);
    /* 중앙으로 이동 */
    z-index: 2;
}

/* 이전 슬라이드가 왼쪽으로 사라지는 효과 */
.slide.active~.slide:not(.active) {
    transform: translateX(-100%);
}

.slide-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}


@keyframes slideFromTop {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(-100);
        opacity: 1;
    }
}